  
.container{
      max-width: 1200px;
      margin: 0 auto;
      padding: 20px;
}
.background{
    height: 600px; 
    width: 100%; 
    background-size: cover;
}
h1 {
    text-align: center;
}
h2{
    color: rgb(170, 70, 12) !important;
    font-weight: bold !important; 
}

:root {
    --background-color: white;
    --text-color: rgb(95, 96, 100);
}

[data-theme="tumma"] {
    --background-color: rgb(94, 90, 90);
    --text-color: white;
}

[data-theme="joulu"] {
    --background-color: rgb(160, 41, 20);
    --text-color: rgb(21, 61, 2);
}
  
body {
    background-color: var(--background-color);
    color: var(--text-color);
}

.logo{
    font-style:inherit; 
    font-size: 20px;
    font-weight: bold;
    margin-left: 15px;
    margin-right: 15px;
    color: rgb(238, 115, 15) !important;
}

.hidden{
    visibility: hidden;
}

#main_alue{
    padding: 20px;
}
  
.fixed-header {
    border-collapse: collapse; /* Ensure borders are combined */
    width: 100%; 
    margin: 20px 0; 
}

.fixed-header th, td {
    padding: 10px; 
    text-align: left; 
    border: 1px solid #dadf99; 
}

/* Header styles */
.fixed-header th {
    background-color: rgb(124, 79, 68); 
    color: #f3cebd; 
}

/* Row styles */
.fixed-header tr:nth-child(even) {
    background-color: #c4c1be; 
}

/* Add styles for images in the table */
.fixed-header img {
    width: 70px; 
    height: auto; 
    display: block; 
    margin: auto; 
}
